{% extends 'blog/base.html' %}
{% block content %}
<style>
    body{
        background-color: rgba(255, 255, 255, 0.884);
    }
    th,td{
        background-color: whitesmoke;
    }
    h1{
    text-shadow: -3px -3px 6px #00000060;
    font-weight: 600;
    }
</style>
<div class="row d-flex justify-content-center">
<div class="col-9">
<h1 class='my-4' style="text-align: center;">My Dashboard</h1>
    {% if user.profile.is_donor == False %}
      <legend class="border-bottom mb-4">Donations I have recieved</legend>
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Donor</th>
              <th scope="col">City</th>
              <th scope="col">Date</th>
              <th scope="col">Hospital</th>
            </tr>
          </thead>
          <tbody>
          {% for recieve in recieved %}
            <tr>
              <th scope="row">{{ recieve.donor }}</th>
              <td>{{ recieve.City }}</td>
              <td>{{ recieve.date|date:"F d, Y" }}</td>
              <td>{{ recieve.Hospital }}</td>
            </tr>
          {% endfor %}  
          </tbody>
        </table>
      {% endif %}
    {% if user.profile.is_donor == True %}
    <legend class="border-bottom mb-4">Donations I have donated</legend>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Donated to</th>
            <th scope="col">City</th>
            <th scope="col">Date</th>
            <th scope="col">Hospital</th>
          </tr>
        </thead>
        <tbody>
        {% for donation in donations %}
          <tr>
            <th scope="row">{{ donation.receiver }}</th>
            <td>{{ donation.City }}</td>
            <td>{{ donation.date|date:"F d, Y" }}</td>
            <td>{{ donation.Hospital }}</td>
          </tr>
        {% endfor %}  
        </tbody>
      </table>
      {% endif %}
    </div>

   
    
</div>
{% endblock content%}

