{% extends 'blog/base_without_sidebar.html' %}
{% load static %}

{% block css %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">RECOMENDED NEWS</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">TOP 4 NEWS ON COVID.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img  alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2020/10/31/Pictures/delhi-covid-19-test_ae8fddde-1b02-11eb-bfd3-008a2bae3f6c.jpg">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">HindustanTimes</h2>
              <h3 class="text-gray-500 mb-3">COVID19</h3>
              <a href="https://www.hindustantimes.com/india-news/alarm-over-new-covid-19-cases-in-delhi-centre-may-step-in/story-yrEwibCGA3GPrkAUq9KpiK.html"><p class="mb-4">Covid-cases in Delhi surged to a new high on Friday even as a concerned home ministry has called for a meeting on Monday to discuss the issue.</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://img.etimg.com/thumb/msid-78943435,width-294,resizemode-4,imgsize-74067/latest-daily-news-and-updates-october30.jpg">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">THE ECONOMIC TIMES</h2>
              <h3 class="text-gray-500 mb-3">COVID19</h3>
              <a href="https://economictimes.indiatimes.com/news/newsblogs/latest-daily-news-and-updates-october30/liveblog/78943435.cms"><p class="mb-4">Wrap Up: All you need to know about the news that matter.</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8UVSY4XsdDMLCuSEfGrX5Nz1BGQTu0y22xeCv2SNUCp8vowSngiARTy8&usqp=CAI&s">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Mumbai Mirror</h2>
              <h3 class="text-gray-500 mb-3">Covid19</h3>
              <a href="https://mumbaimirror.indiatimes.com/coronavirus/news/covid-19-latest-updates-mumbai-india-thane-maharashtra-active-cases-pune/liveblog/78963230.cms"><p class="mb-4">Covid-19 Latest Updates: Maharashtra reports 5,548 new cases; Mumbai's death toll climbs to 10,250</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://static.toiimg.com/thumb/msid-78902350,height-127,resizemode-4,imgsize-62204.cms">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Times Of India</h2>
              <h3 class="text-gray-500 mb-3">COVID CASES</h3>
              <a href="https://timesofindia.indiatimes.com/city/28-october-2020-live-latest-news-from-cities/liveblog/78902350.cms"><p class="mb-4">Latest news live: Delhi's daily Covid tally crosses 5,000-mark for first time.</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded" alt="hero" src="https://cdn-b.medlife.com/2020/03/coronavirus-dos-donts.jpg">
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">COVID-19: 10 Do’s and Don’ts To Stay Safe During The Outbreaks
          <br class="hidden lg:inline-block">
        </h1>
        <p class="mb-8 leading-relaxed">COVID-19, a global epidemic that has affected 1,99,054 and counting has turned out to be a deadly virus that threatens the very existence of the human race. Well, the major reason being the lack of vaccination and cure is what has made this seem dangerous.</p>
        <div class="flex justify-center">
          <a href="https://www.medlife.com/blog/covid-19-dos-and-donts/"><button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">click here</button>
          
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">How can you tell if coronavirus symptoms are mild, moderate or severe?
          <br class="hidden lg:inline-block">
        </h1>
        <p class="mb-8 leading-relaxed"> As COVID-19, caused by the coronavirus, continues to spread across the world, and possibly in your city, it’s important to know whether your symptoms are mild, moderate or severe, and when to seek medical help.
 
          Coronavirus typically causes the common cold or other mild respiratory viral illnesses, but this new strain can cause much more serious illness, even death, in some patients. Previous novel coronavirus strains include SARS and MERS, which affected other areas of the world in recent years..</p>
        <div class="flex justify-center">
          <a href="https://wexnermedical.osu.edu/blog/coronavirus-symptoms"><button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">click here</button>
          
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="https://wexnermedical.osu.edu/-/media/images/wexnermedical/blog/2020-stories/03/coronavirus-symptoms/covid19-symptoms_large.jpg?la=en&hash=DED440ED6D168D4AE15B2ED7D61061A90ADED3C9">
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded" alt="hero" src="https://296y67419hmo2gej4j232hyf-wpengine.netdna-ssl.com/wp-content/uploads/2019/01/12349-007-768x512.jpg">
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">9 Things to Know Before You Donate Blood in 2020
          <br class="hidden lg:inline-block">
        </h1>
        <p class="mb-8 leading-relaxed">January is National Blood Donor Month. It’s also a difficult time of year to collect blood donations due to snowstorms and flu season. Last January, the American Red Cross had to cancel hundreds of blood drives due to winter weather, causing thousands blood and platelet donations to go uncollected. We don’t know how severe it will be this year, but we do know from past experience that snow, ice and seasonal illnesses affect a blood donor’s ability to give.

          To help prepare for your blood donation, the Red Cross has nine tips to know before donating blood .</p>
        <div class="flex justify-center">
         <a href="https://redcrosschat.org/2019/01/03/9-things-to-know-before-you-donate-blood-in-2019/"> <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">click here</button>
          
        </div>
      </div>
    </div>
  </section>

  
{% endblock %}

{% block js %}
{% endblock %}